n8n/workflows/neotravel-orchestration.json
{
  "name": "NeoTravel — Orchestration complète",
  "nodes": [
    {
      "parameters": {
        "content": "## NeoTravel × n8n — Orchestration\n\nCe workflow appelle les **mêmes endpoints** que le chat et l'admin via `/api/n8n/*`.\n\n💾 **Persistance** : pas de nœud Airtable dans n8n — l'API NeoTravel persiste en **Airtable** en prod (`AIRTABLE_*` sur Vercel).\n\n### Chaîne démo jury (▶ Démo jury)\n1. GET `/api/n8n/status` — santé + relances en attente\n2. POST `/api/n8n/qualifier` — Paris → Lyon (35 pax)\n3. IF `pret_pour_devis` (demande complète)\n4. POST `/api/n8n/calculer-devis`\n5. POST `/api/n8n/generer-devis` — PDF + email client + **relances planifiées** (pas immédiates)\n6. POST `/api/n8n/relance` — traite uniquement les relances **échues** (`traitees: 0` juste après generer = normal)\n\n**Demande incomplète** → email client avec lien formulaire `/devis` (si email présent) + résumé n8n (pas de relance devis).\n\n### Branche planifiée (15 min)\nGET status → POST relance (relances dues uniquement).\n\n### Relances (comportement app)\n- Planifiées **après** `generer-devis` complet (email client uniquement)\n- Jamais sur demande incomplète\n- J+2 / J+7 (prod) ou +2 / +7 min si `DEMO_MODE=true`\n- **Annulées** si admin clôture / accepte / refuse (`annulerRelancesDemande`)\n- Admin `/admin` : boutons accepter, refuser, clôturer, rouvrir\n\n⚠️ **Config NeoTravel** : coller `WEBHOOK_SECRET` (ex. dev `neotravel-dev-secret`) — **pas** `VERCEL_TOKEN` (`vcp_…`).\n\n🔗 App : https://neotravel-app-gamma.vercel.app",
        "height": 580,
        "width": 540,
        "color": 4
      },
      "id": "sticky-architecture",
      "name": "Architecture NeoTravel",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-640, -120]
    },
    {
      "parameters": {},
      "id": "manual-demo",
      "name": "▶ Démo jury",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 280]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Toutes les 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 80]
    },
    {
      "parameters": { "mode": "append" },
      "id": "merge-triggers",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [240, 180]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "cfg-app-url",
              "name": "app_url",
              "value": "https://neotravel-app-gamma.vercel.app",
              "type": "string"
            },
            {
              "id": "cfg-api-base",
              "name": "api_base",
              "value": "https://neotravel-app-gamma.vercel.app/api/n8n",
              "type": "string"
            },
            {
              "id": "cfg-webhook-secret",
              "name": "webhook_secret",
              "value": "COLLER_WEBHOOK_SECRET_ICI",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-config",
      "name": "Config NeoTravel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 180]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config NeoTravel').item.json.api_base }}/status",
        "options": {
          "response": { "response": { "fullResponse": true, "neverError": true } }
        }
      },
      "id": "http-status",
      "name": "GET status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "cond-demo",
              "leftValue": "={{ $('▶ Démo jury').isExecuted }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-demo-mode",
      "name": "Démo jury?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [960, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config NeoTravel').item.json.api_base }}/qualifier",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-webhook-secret", "value": "={{ $('Config NeoTravel').item.json.webhook_secret }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"Bonjour, je souhaite un devis pour 35 personnes de Paris à Lyon le 15/07/2026. Email : demo@neotravel.test\",\n  \"type_client\": \"particulier\",\n  \"email\": \"demo@neotravel.test\",\n  \"ville_depart\": \"Paris\",\n  \"ville_arrivee\": \"Lyon\",\n  \"date_depart\": \"2026-07-15\",\n  \"nb_passagers\": 35\n}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "http-qualifier",
      "name": "POST qualifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 80]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "cond-complete",
              "leftValue": "={{ $json.pret_pour_devis }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-complete",
      "name": "Demande complète?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1440, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config NeoTravel').item.json.api_base }}/calculer-devis",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-webhook-secret", "value": "={{ $('Config NeoTravel').item.json.webhook_secret }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ demande_id: $('POST qualifier').item.json.demande_id }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "http-calculer",
      "name": "POST calculer-devis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config NeoTravel').item.json.api_base }}/generer-devis",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-webhook-secret", "value": "={{ $('Config NeoTravel').item.json.webhook_secret }}" },
            { "name": "x-app-base-url", "value": "={{ $('Config NeoTravel').item.json.app_url }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ demande_id: $('POST qualifier').item.json.demande_id }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "http-generer",
      "name": "POST generer-devis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 0]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "inc-status", "name": "step", "value": "incomplete", "type": "string" },
            {
              "id": "inc-msg",
              "name": "message",
              "value": "={{ $json.error || $json.erreur ? ('Erreur API : ' + ($json.error || $json.erreur) + ' — vérifier WEBHOOK_SECRET (pas VERCEL_TOKEN) dans Config NeoTravel') : ('Demande incomplète — pas de relance. Champs manquants : ' + ($json.missing || $json.champs_manquants || []).join(', ')) }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-incomplete",
      "name": "Demande incomplète",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1680, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config NeoTravel').item.json.api_base }}/relance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-webhook-secret", "value": "={{ $('Config NeoTravel').item.json.webhook_secret }}" },
            { "name": "x-app-base-url", "value": "={{ $('Config NeoTravel').item.json.app_url }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "http-relance",
      "name": "POST relance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 180]
    },
    {
      "parameters": {
        "jsCode": "function nodeJson(name) {\n  const n = $(name);\n  if (!n.isExecuted) return null;\n  const item = n.first();\n  return item ? item.json : null;\n}\n\nconst config = nodeJson('Config NeoTravel') ?? {};\nconst status = nodeJson('GET status');\nconst qualifier = nodeJson('POST qualifier');\nconst calculer = nodeJson('POST calculer-devis');\nconst generer = nodeJson('POST generer-devis');\nconst relance = nodeJson('POST relance');\nconst incomplete = nodeJson('Demande incomplète');\nconst isDemo = $('▶ Démo jury').isExecuted;\n\nconst statusBody = status?.body ?? status;\nconst relanceTraitees = relance?.traitees ?? 0;\nconst devisGenere = !!generer?.devis_id;\n\nreturn [{\n  json: {\n    execution_summary: {\n      at: new Date().toISOString(),\n      service: 'neotravel-orchestration',\n      mode: isDemo ? 'demo_jury' : 'schedule_relances',\n      app_url: config.app_url,\n      storage_backend: statusBody?.storage_backend ?? null,\n      api_reachable: statusBody?.ok === true,\n      pending_relances_at_start: statusBody?.pending_relances ?? null,\n      qualifier: qualifier ? {\n        demande_id: qualifier.demande_id,\n        pret_pour_devis: qualifier.pret_pour_devis,\n        score: qualifier.score_completude,\n        error: qualifier.error ?? qualifier.erreur ?? null,\n        missing: qualifier.missing ?? qualifier.champs_manquants ?? null\n      } : null,\n      incomplete_message: incomplete?.message ?? null,\n      calcul: calculer?.prix_ttc ? { prix_ttc: calculer.prix_ttc, prix_ht: calculer.prix_ht } : (calculer?.erreur ? { error: calculer.erreur } : null),\n      devis: devisGenere ? {\n        devis_id: generer.devis_id,\n        prix_ttc: generer.prix_ttc,\n        email_sent: generer.email_sent,\n        relances_planifiees: generer.email_sent ? '2 relances client planifiées (échéance future)' : 'aucune (pas d\\'email client)'\n      } : null,\n      relances: relance ? {\n        ok: relance.ok ?? null,\n        traitees: relanceTraitees,\n        note: devisGenere && relanceTraitees === 0\n          ? 'Normal juste après generer-devis : relances pas encore échues (cron 15 min ou DEMO_MODE)'\n          : (incomplete ? 'Branche incomplète — relance non appelée' : null)\n      } : null\n    }\n  }\n}];"
      },
      "id": "code-summary",
      "name": "Résumé orchestration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 180]
    }
  ],
  "connections": {
    "▶ Démo jury": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Toutes les 15 min": { "main": [[{ "node": "Merge", "type": "main", "index": 1 }]] },
    "Merge": { "main": [[{ "node": "Config NeoTravel", "type": "main", "index": 0 }]] },
    "Config NeoTravel": { "main": [[{ "node": "GET status", "type": "main", "index": 0 }]] },
    "GET status": { "main": [[{ "node": "Démo jury?", "type": "main", "index": 0 }]] },
    "Démo jury?": {
      "main": [
        [{ "node": "POST qualifier", "type": "main", "index": 0 }],
        [{ "node": "POST relance", "type": "main", "index": 0 }]
      ]
    },
    "POST qualifier": { "main": [[{ "node": "Demande complète?", "type": "main", "index": 0 }]] },
    "Demande complète?": {
      "main": [
        [{ "node": "POST calculer-devis", "type": "main", "index": 0 }],
        [{ "node": "Demande incomplète", "type": "main", "index": 0 }]
      ]
    },
    "POST calculer-devis": { "main": [[{ "node": "POST generer-devis", "type": "main", "index": 0 }]] },
    "POST generer-devis": { "main": [[{ "node": "POST relance", "type": "main", "index": 0 }]] },
    "Demande incomplète": { "main": [[{ "node": "Résumé orchestration", "type": "main", "index": 0 }]] },
    "POST relance": { "main": [[{ "node": "Résumé orchestration", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Orchestration NeoTravel via /api/n8n/* : qualifier → calculer → generer → relance (échues). Coller WEBHOOK_SECRET (ex. neotravel-dev-secret) dans Config NeoTravel — pas VERCEL_TOKEN. Démo : ▶ Démo jury."
  },
  "tags": []
}
