n8n/workflows/relance-neotravel.json
{
  "name": "NeoTravel — Relances devis",
  "nodes": [
    {
      "parameters": {
        "content": "## NeoTravel × n8n — Relances devis\n\nWorkflow **léger** (relances seules). Même logique que la branche cron de `neotravel-orchestration.json`.\n\n1. **Déclencheurs** — cron 15 min (prod) ou ▶ Démo soutenance\n2. **Config NeoTravel** — `api_base` + `WEBHOOK_SECRET` (ex. dev `neotravel-dev-secret`)\n3. **Vérification** — GET `/api/n8n/status`\n4. **Relances** — POST `/api/n8n/relance` (alias `/api/webhooks/relance`)\n5. **Résultat** — emails client envoyés, idle, ou erreur\n\n### Règles métier (app)\n- Relances **devis** après `generer-devis` ; relances **incomplet** après email incomplet (qualifier/wizard)\n- Emails incomplet/relance incomplet : lien formulaire `/devis?prefill` (pas PDF devis)\n- Relances **planifiées** (J+2/J+7 ou +2/+7 min en `DEMO_MODE`)\n- **Annulées** auto si demande complétée, devis généré, ou admin accepte / refuse / clôture\n- Admin `/admin` : accepter, refuser, clôturer, rouvrir\n\n💾 Persistance via API → **Airtable** en prod.\n\n⚠️ Coller `WEBHOOK_SECRET` — **pas** `VERCEL_TOKEN` (`vcp_…`).\n\n🔗 App : https://neotravel-app-gamma.vercel.app",
        "height": 520,
        "width": 480,
        "color": 4
      },
      "id": "sticky-architecture",
      "name": "Architecture NeoTravel",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-520, -80]
    },
    {
      "parameters": {},
      "id": "manual-demo",
      "name": "▶ Démo soutenance",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 220]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Toutes les 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-triggers",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [280, 110]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "cfg-api-base",
              "name": "api_base",
              "value": "https://neotravel-app-gamma.vercel.app/api/n8n",
              "type": "string"
            },
            {
              "id": "cfg-app-url",
              "name": "app_url",
              "value": "https://neotravel-app-gamma.vercel.app",
              "type": "string"
            },
            {
              "id": "cfg-webhook-secret",
              "name": "webhook_secret",
              "value": "COLLER_WEBHOOK_SECRET_ICI",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "Config NeoTravel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 110]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config NeoTravel').item.json.api_base }}/status",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "http-verify",
      "name": "GET status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 110]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-api-ok",
              "leftValue": "={{ $json.body?.ok ?? $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-api-ok",
      "name": "API joignable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1000, 110]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config NeoTravel').item.json.api_base }}/relance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "={{ $('Config NeoTravel').item.json.webhook_secret }}"
            },
            {
              "name": "x-app-base-url",
              "value": "={{ $('Config NeoTravel').item.json.app_url }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-post-relance",
      "name": "POST relance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-ok-true",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-response-ok",
      "name": "Réponse OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1480, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-traitees-gt0",
              "leftValue": "={{ $json.traitees }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-relances-sent",
      "name": "Relances envoyées?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1720, -80]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "succ-status",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "succ-message",
              "name": "message",
              "value": "={{ $json.traitees }} relance(s) envoyée(s) avec succès.",
              "type": "string"
            },
            {
              "id": "succ-traitees",
              "name": "traitees",
              "value": "={{ $json.traitees }}",
              "type": "number"
            },
            {
              "id": "succ-ok",
              "name": "ok",
              "value": "={{ $json.ok }}",
              "type": "boolean"
            },
            {
              "id": "succ-results",
              "name": "results",
              "value": "={{ $json.results }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "set-success",
      "name": "Succès",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1960, -160]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "idle-status",
              "name": "status",
              "value": "idle",
              "type": "string"
            },
            {
              "id": "idle-message",
              "name": "message",
              "value": "Aucune relance due. Normal si aucun devis récent ou relances pas encore échues (planifiées après generer-devis). L'API répond correctement.",
              "type": "string"
            },
            {
              "id": "idle-traitees",
              "name": "traitees",
              "value": 0,
              "type": "number"
            },
            {
              "id": "idle-ok",
              "name": "ok",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "set-idle",
      "name": "Aucune relance due",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1960, 0]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "err-status",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "err-message",
              "name": "message",
              "value": "={{ $json.error || $json.erreur || $json.message || ('Erreur NeoTravel — vérifier WEBHOOK_SECRET (pas VERCEL_TOKEN)') }}",
              "type": "string"
            },
            {
              "id": "err-detail",
              "name": "detail",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-error",
      "name": "Erreur",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1720, 240]
    },
    {
      "parameters": {
        "jsCode": "function nodeJson(name) {\n  const n = $(name);\n  if (!n.isExecuted) return null;\n  const item = n.first();\n  return item ? item.json : null;\n}\n\nconst input = $input.first().json;\nconst config = nodeJson('Config NeoTravel') ?? {};\nconst status = nodeJson('GET status');\nconst post = nodeJson('POST relance');\nconst statusBody = status?.body ?? status;\n\nreturn [{\n  json: {\n    execution_summary: {\n      at: new Date().toISOString(),\n      service: 'neotravel-relances',\n      status: input.status || 'unknown',\n      message: input.message,\n      traitees: input.traitees ?? post?.traitees ?? 0,\n      ok: input.ok ?? post?.ok ?? null,\n      app_url: config.app_url,\n      api_base: config.api_base,\n      storage_backend: statusBody?.storage_backend ?? null,\n      pending_relances: statusBody?.pending_relances ?? null,\n      api_reachable: statusBody?.ok === true,\n      post_ok: post?.ok ?? null\n    }\n  }\n}];"
      },
      "id": "code-summary",
      "name": "Résumé exécution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 0]
    }
  ],
  "connections": {
    "▶ Démo soutenance": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toutes les 15 min": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Config NeoTravel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config NeoTravel": {
      "main": [
        [
          {
            "node": "GET status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET status": {
      "main": [
        [
          {
            "node": "API joignable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API joignable?": {
      "main": [
        [
          {
            "node": "POST relance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST relance": {
      "main": [
        [
          {
            "node": "Réponse OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Réponse OK?": {
      "main": [
        [
          {
            "node": "Relances envoyées?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Relances envoyées?": {
      "main": [
        [
          {
            "node": "Succès",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aucune relance due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Succès": {
      "main": [
        [
          {
            "node": "Résumé exécution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aucune relance due": {
      "main": [
        [
          {
            "node": "Résumé exécution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erreur": {
      "main": [
        [
          {
            "node": "Résumé exécution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Relances NeoTravel via /api/n8n/relance. Coller WEBHOOK_SECRET (ex. neotravel-dev-secret) dans Config NeoTravel — pas VERCEL_TOKEN. Démo : ▶ Démo soutenance."
  },
  "tags": []
}
